/* HOME STYLE
 -----------------------------------------------------------------------------*/
 .home__content__img {
  margin: 0 auto 40px;
  display: block;
  border-radius: 999px;
  max-height: 400px;
}

.home__content {
  font-size: 1.5rem;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 40px;
}

.home__content__logo {
  font-size: 4rem;
  margin-bottom: 30px;
}

.home__content__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home__content__menu__item {
  text-decoration: none;
  color: var(--dark);
  transition: color .2s;
  position: relative;
}

.home__content__menu__item:hover {
  color: var(--hover);
}

.home__content__menu__item:after {
  content: "~";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  transition: transform .2s;
}

.home__content__menu__item:hover:after {
  transform: translate(-50%, 5px);
}