



/* COMMON STYLES BETWEEN PAGES
 -----------------------------------------------------------------------------*/
 :root {
  --hover: #DFA491;
  --dark: #242529;
}
 body {
  font-family: 'Zilla Slab', serif;
  color: var(--dark);
  margin: 0;
}

.siteWrap {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.page__menu {
  display: flex;
  flex-direction: column;
}

.page__menu__item {
  text-decoration: none;
  color: var(--dark);
  padding-left: 20px;
  position: relative;
  transition: color .2s;
  font-weight: 600;
}

.page__menu__item:not(:last-child) {
  margin-bottom: 10px;
}

.page__menu__item:hover {
  color: var(--hover);
}

.page__menu__item:after {
  content: ">";
  position: absolute;
  left: 0;
  transition: transform .2s;
}

.page__menu__item:hover:after {
  transform: translateX(3px);
}

.page__logo {
  font-size: 4rem;
  margin-bottom: 30px;
}

.title--md {
  font-weight: 600;
  font-size: 1.5rem;
}

.header {
  border-bottom: 2px solid var(--hover);
  background: url('../assets/galaxy.jpg') no-repeat center / cover;
}