/* PORTFOLIO PAGES COMMON STYLE
  --------------------------------------------------------------------------- */
.title--md {
  margin-bottom: 10px;
}

div.portfolio__detail__texte + .title--md {
  margin-top: 50px;
}

.portfolio__detail__date {
  font-size: 1rem;
  color: var(--hover);
  margin-bottom: 30px;
}

.portfolio__detail__texte {
  line-height: 28px;
}

a.link {
  text-decoration: none;
  border-bottom: 1px solid var(--dark);
  color: var(--dark);
  transition: color .2s, border-color .2s;
}

a:hover {
  color: var(--hover);
  border-color: var(--hover);
}

.portfolio__detail__preuve__links {
  margin-top: 30px;
}

.portfolio__detail__preuve__links__item {
  text-decoration: none;
  color: var(--dark);
  padding-left: 20px;
  position: relative;
  transition: color .2s;
  font-weight: 600;
  font-size: 1rem;
  display: block;
}

.portfolio__detail__preuve__links__item:not(:last-child) {
  margin-bottom: 10px;
}

.portfolio__detail__preuve__links__item:hover {
  color: var(--hover);
}

.portfolio__detail__preuve__links__item:after {
  content: ">";
  position: absolute;
  left: 0;
  transition: transform .2s;
}

.portfolio__detail__preuve__links__item:hover:after {
  transform: translateX(3px);
}

.portfolio__detail__preuve__gallery {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) ) ;
  margin-top: 30px;
}
.portfolio__detail__preuve__gallery > img {
  max-width: 100%;
}